<div class="container">
    <h3>
        Credits
        <i class="bi ms-2 bi-file-earmark-check"></i>
    </h3>
    <p>
        <a href="/home">Irishmaths.com</a> would like to credit the following sources:
    </p>
    <ul>
        <li>
            Homepage photo by 
            <a href="https://unsplash.com/@elimendeinagella?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">
                Elimende Inagella
            </a> 
            on 
            <a href="https://unsplash.com/photos/white-sheep-on-white-surface-4ApmfdVo32Q?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">
                Unsplash
            </a>
        </li>
        <li>
            Function icon: 
            <a href="https://www.flaticon.com/free-icons/mathematics" >
                Mathematics icons created by Freepik – Flaticon
            </a>
        </li>
    </ul>
</div>