<div class="container">
    <h3>
        About Us
        <i class="bi ms-2 bi-clipboard-data"></i>
    </h3>
    <p>
        <a href="/home">Irishmaths.com</a> is being assembled to help Irish Leaving 
        Certificate Mathematics students prepare for their exams. 
        The initial focus is going to be on Higher Level papers, 
        but in time other papers will be covered.
    </p>
    <p>
        It is intended as a free resource to all.
    </p>
    <p>
        We would be happy for you to share this site to your friends or students 
        as a learning resource, and hope that it adds value to everyone’s preparations. 
        Please view our terms and conditions for further details.
    </p>
</div>