<div *ngIf="solutionDetails" class="container">
    <!-- <div class="p-1 bg-success w-100"></div> -->
    <div class="row">
        <h1>{{ solutionDetails.title }}</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Description:</strong>
            <p>{{ solutionDetails.description }}</p>
        </div>
        <div class="col-12 col-md-6">
            <strong>Year:</strong>
            <p>{{ solutionDetails.year }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Level:</strong>
            <p>{{ solutionDetails.level }}</p>
        </div>
        <div class="col-12 col-md-6">
            <strong>Paper:</strong>
            <p>{{ solutionDetails.paper }}</p>
        </div>
    </div>
</div>
<div class="container mt-4">
    <a [href]="solutionPdfUrl" target="_blank" class="btn btn-success">View Solution PDF</a>
</div>