/* You can add global styles to this file, and also import other style files */

a {
  color: var(--bs-success);
}

a:hover {
  color: var(--bs-success-text-emphasis);
}
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/*For Ag-Grid
/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

[data-bs-theme="dark"] .logo {
  filter: brightness(0) invert(1);
}