<div class="container">
    <h3>
        Terms and Conditions
        <i class="bi ms-2 bi-card-checklist"></i>
    </h3>
    <p>
        <a href="/home">Irishmaths.com</a> is intended as a free resource, and as such no downloads, 
        reproductions, use, or replication may be done for any monetary gain whatsoever.
    </p>
    <p>
        Teachers or students wishing to share solutions posted to <a href="/home">irishmaths.com</a> may do so 
        provided that all watermarks, headers, and footers are left intact on all reproductions.
    </p>
    <p>
        If you wish to get in touch you can email us at <a href="mailto:contact@irishmaths.com">contact@irishmaths.com</a>.
    </p>
</div>