<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <i class="bi bi-calculator-fill fs-1"></i>
        <h1 class="text-body-emphasis">Irish Maths</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Worked solutions for Leaving Certificate higher-level mathematics papers.
        </p>
        <div class="d-flex flex-wrap justify-content-center gap-2 mb-5">
            <a class="d-inline-flex align-items-center  btn btn-success btn-lg px-4 rounded-pill" type="button"
                href="[/solutions]">
                Solutions
                <i class="bi ms-2 bi-arrow-right-short"></i>
            </a>
            <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button" href="[/about]">
                About Us
            </a>
        </div>
    </div>
</div>
<div class="container">
    <img src="assets\images\elimende-inagella-4ApmfdVo32Q-unsplash.jpg" 
    class="rounded-3 img-fluid" alt="Irish Maths">
</div>